.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(34, 33, 39);
}

/*================================*/
.screen {
    height: 100%;
    width: 75%;
    background-color: inherit;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.screenImage {
    background-color: inherit;
    padding: 0 0.5px 5px 0;
}
.screenImage video {
    background-color: black;
}

.screenbox {
    height: 100%;
    width: 80%;
    background-color: inherit;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.screenbox video{
    height: 30%;
    weight: 30%;
}


 
/*================================*/

  .local-video {
    transition: border 0.3s ease;
}

.local-video:hover {
    border: 3px solid red;
    cursor: pointer;
}
