.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    
}

/*================================*/
.screen {
    height: 100%;
    width: 75%;
    background-color: inherit;


    border-radius: 0.3rem;
    padding: 10px 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.screenImage {
    background-color: inherit;
    padding: 0 0.5px 5px 0;
}
.screenImage video {
    background-color: black;
}

/*================================*/

.select-container{
    position: relative;
    /* padding: 30px 30px 15px 30px; */
    /* padding-left: 30px; */
}
.select{
    align-items: center;
    display: flex;
    margin: auto;
    border-radius: 0.3rem;
    padding: 10px  0 10px 0;
    width: 70   %;
    height: 100%;
    /* background-color: #cfe1e4;    */

}
.checkbox-group{
    width: 40%;
    padding-left: 60px;
    color: white;
    font-size: 15px;
}

.checkbox-group label{
    padding-left: 3%;
    padding-top: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 210px;
  }
  
  .dropdown select {
    appearance: none;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border: 30px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .dropdown select:focus {
    outline: none;
  }
  
  .dropdown::after {
    content: '\25BC'; /* 화살표 모양 */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }

 