
footer {
    align-self: flex-end;
    width: 100vw;
    height: 5vh;
    /* background-color: green; */
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}