.header {
    align-self: flex-start;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    /* border-bottom: 5px solid lightgray; */
}
/*================================*/
.title {
    width: 50%;
    height: 70%;
    margin-left: 3%;
    margin-top: 1%;
    display: flex;
    align-items: center;

    font-size: 1.25em;
    
}
/*================================*/
.currtime {
    width: 35%;
    height: 8-0%;
    display: flex;
    margin-top: 1%;
    align-items: center;
    font-size: medium;
    color: black;
    align: right;
}
