.header {
    align-self: flex-start;
    background-color: black;
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    color: rgb(198, 197, 196);
    /* border-bottom: 5px solid lightgray; */
}
/*================================*/
.title {
    width: 40%;
    height: 70%;
    /* margin-top: 1%; */
    display: flex;
    align-items: center;
    padding-top: 0.5%; 
    padding-left: 0.5%; 
    font-size: 1.25em;
    
}
/*================================*/
.currtime {
    width: 30%;
    height: 80%;
    display: flex;
    margin-top: 1%;
    
    text-align: right;
    font-size: medium;
    color: rgb(198, 197, 196);
    
}


/*================================*/
.buttons {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    font-size: 0.8em;
    color: rgb(198, 197, 196);
}

.pButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    width: 30%;
    height: 70%;
    margin-left: 20px;
    padding: 4px;
    border: 1px solid ba;
    transition-duration: 0.2s;
}

.pButton:hover {
    height: 70%;
    margin-bottom: -1%;
    border-radius: 0.4rem 0.4rem 0 0;
    background-color: rgb(34, 33, 39);
    border-top: solid 1px rgb(100,61,179);
    
    a{
        color: rgb(97, 95, 98);
    }
}

.p1 {
    /* background: rgb(51, 80, 105); */
}

.p2 {
    /* background: rgb(57, 91, 121); */
}
