.header {
    align-self: flex-start;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    /* border-bottom: 5px solid lightgray; */
}
/*================================*/
.title {
    width: 20%;
    height: 70%;
    margin-left: 3%;
    margin-top: 1%;
    display: flex;
    align-items: center;

    font-size: 1.25em;
    
}
/*================================*/
.currtime {
    width: 20%;
    height: 8-0%;
    display: flex;
    margin-top: 1%;
    align-items: center;
    font-size: medium;
    color: black;
}
/*================================*/
.buttons {
    width: 50%;
    height: 100%;
    display: flex;
    padding-left: 30px;
    align-items: end;
    justify-content: left;
    font-size: 0.8em;
}
.pButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
    width: 30%;
    height: 50%;
    margin-left: 2%;
    border-radius: 0.4rem 0.4rem 0 0;
    transition-duration: 0.2s;
}
.pButton:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 45%;
    /* margin-left: 1.5%; */
    margin-bottom: -0.5%;
    border-radius: 0.4rem 0.4rem 0 0;

    color: white;
}

.p1{
    background: rgb(51, 80, 105 );
}
.p2{
    background: rgb(57, 91, 121);
}
/*=====================================================*/