
*{    
    box-sizing: inherit;
}

body {
    margin: 0;
    color: #364152;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334em;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
main {
    display: block;
    unicode-bidi: isolate;
}

div {
    unicode-bidi: isolate;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

button{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    padding-block: 1px;
    padding-inline: 6px;
}


.content input {
    margin: 0;
    padding: 2px;
    display: none;
    width: 4%;
    height: 3%;
    top: -7px;
    left: -5px;

    cursor: pointer;

    z-index: 2;

    opacity: 0; /* hide this */

    -webkit-touch-callout: none;
}
.content .cross {
    display: none;
    width: 100%;
    height: 3%;
    padding: 2px;
    padding-top: 5px;
    background-color: black;
    transition-duration: 0.2s;
    border: none;
}
/* 세로 */
@media screen and (orientation: portrait) {
    .left_content {
        width: 0;
        transition-duration: 0.2s;
    }
    .content {
        position: relative;
    }
    .content input {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
    .screen {
        width: 100%;
    }
    /*====================================*/
    .content .cross {
        display: block;
    }

    .content .cross span {
        display: block;
        width: 4%;
        height: 15%;
        margin-bottom: 2px;
        position: relative;

        background: white;
        border-radius: 4px;

        transform-origin: 0% 4%;
        transition-duration: 0.5s;
        opacity: 1;
    }

    .content .cross span:first-child {
        transform-origin: 0% 0%;
    }

    .content .cross span:nth-last-child(3) {
        transform-origin: 0% 100%;
    }

    .content input:checked ~ .cross {
        background-color: white;
    }

    /* turn em into crossmark */
    .content input:checked ~ .cross span {
        transform: rotate(-90deg) scale(0.4,3);
        background: red;
    }

    /* hide the middle */
    .content input:checked ~ .cross span:nth-last-child(2) {
        transform: rotate(0deg) scale(3.6, 1);
        background: #232323;
    }
    /* other direction */
    .content input:checked ~ .cross span:nth-last-child(3) {
        transform: rotate(90deg) scale(0.4,3);
    }

    /*====================================*/

    .content input:checked ~.left_content {
        /* 
        position: absolute 
        */
        transition-duration: 0.2s;
        width: 15%;
    }
    .content input:checked ~.screen {
        width: 85%;
    }
}