.cont{
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.left_content {
    width: 23vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    float: left;
}
.nav_pad{
    padding: 0 40px 0 40px;
    width: 100%;
    height: 100%;
}
/*================================*/
.list {
    height: 40%;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(54, 65, 82);
    border-radius: 1px;
    align-items: flex-start;
    background-color: rgb(47, 43, 54);
    border-radius: 0.3rem;
}

.list_header {
    width: 100%;
    margin: 10px 0 10px 0;
    font-family: Roboto, sans-serif;
    line-height: 1.66;
    display: block;
    color: rgb(18, 25, 38);
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 550;
    padding: 6px;
    text-align: left;
    text-transform: capitalize;
    border-radius: 0.3rem;
}

.list_header p, .warning_header p{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 10px;
}

.camera_list {
    overflow-y: scroll; 
    overflow-x: hidden; 
    height: 80%;
    width: 100%;
    background-color: rgb(47, 43, 54);
    color: rgb(54, 65, 82);
    outline: 0px;
    border: 0px;
    margin: 5px 0 4px 0;
    display: flex;
    
    flex-direction: column; 
    position: relative;
    text-decoration: none;
    padding: 0 5px 0 0;
    align-items: flex-start;
}

.camera_list::-webkit-scrollbar {
    width: 5px;
}

.camera_list::-webkit-scrollbar-thumb {
    border-radius: 10rem;
}

.camera_list::-webkit-scrollbar-track {
    background-color: rgb(80, 76, 90);
}
/*================================*/



.li {
    height: 10%;
    width: 100%;
    text-align: center;
    padding: 10px 0 30px 0;
    margin: 0;

    color: rgb(242, 242, 242);
    background-color: inherit;
    
}
.li:hover {
    height: 10%;
    width: 100%;
    text-align: center;
    padding: 10px 0 30px 0;
    margin: 0;
    background-color: rgb(237, 231, 246) ;
    color: rgb(94, 53, 177);
    border-radius: 0.7rem;
}   

/*================================*/

/* nav 팝업 */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1001; 
}

.popup-video {
    width: 100%;
    height: 100%;
}

/*================================*/
/* SSE 테두리 */
.wli.highlight {
    
    height: 10%;
    width: 100%;
    text-align: center;
    padding: 10px 10px 30px 10px;
    margin: 3px;
    border: 1px solid red;
    box-shadow: 0 0 10px red;
    border-radius: 0.7rem;
}


/*================================*/


.divider {
    border-width: 0px 0px;
    border-style: solid;
    height: 5%;
    /* border-color: rgb(227, 232, 239); */
    opacity: 1;
}


/*================================*/




.warnings {
    height: 70%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(54, 65, 82);
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    background-color: white;
    color: rgb(54, 65, 82);
    border-radius: 12rem;
    align-items: flex-start;
    background-color: inherit;
    
}   

.warning_header {
    margin: 10px 0px 5px;
    font-family: Roboto, sans-serif;
    line-height: 1.66;
    display: block;
    color: rgb(18, 25, 38);
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 550;
    padding: 6px;
    text-align: left;
    text-transform: capitalize;
    border-radius: 0.3rem;
}

.warning_list {
    overflow-y: scroll; 
    overflow-x: hidden; 
    height: 95%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(54, 65, 82);
    outline: 0px;
    border: 0px;
    margin: 5px 0 4px 0;
    display: flex;
    border-radius: 0.3rem;
    
    /* 수정: 세로로 배치되도록 설정 */
    flex-direction: column; 
    position: relative;
    text-decoration: none;
    padding: 0 5px 0 0;
    align-items: flex-start;
}

.warning_list::-webkit-scrollbar {
    width: 5px;
}
.warning_list::-webkit-scrollbar-thumb {
    background-color: rgb(195, 200, 207);
    border-radius: 0.2rem;
}
.warning_list::-webkit-scrollbar-track {
    /* background-color: rgb(255, 255, 255); */
}

/*================================*/


.wli {
    height: 10%;
    width: 95%;
    text-align: center;
    padding: 10px 0 30px 20px;
    border: 10px;
    margin: 0;
    background-color: rgb(255, 255, 255);
}
.wli:hover {
    height: 10%;
    width: 100%;
    text-align: center;
    padding: 10px 0 30px 0;
    margin: 0;
    background-color: rgb(237, 231, 246) ;
    color: rgb(94, 53, 177);
    border-radius: 0.7rem;
}


