.list-container{
  width: 100%;
  float: left;
}

.container {
    
    max-height: 800px; 
    overflow-y: auto;
    width: 70%;
  }
  
   
<<<<<<< HEAD
/*================================*/

.select-container{
  /* position: relative; */
  /* padding: 30px 30px 15px 30px; */
  /* padding-left: 30px; */
}
.select{
  align-items: center;
  display: flex;
  border-radius: 0.3rem;
  padding: 10px  0 10px 0;
  width: 70%;
  height: 100%;
  /* background-color: #cfe1e4;    */

}
.checkbox-group{
  width: 40%;
  padding-left: 60px;
  color: white;
  font-size: 15px;
}

.checkbox-group label{
  padding-left: 3%;
  padding-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 210px;
}

.dropdown select {
  appearance: none;
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border: 30px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.dropdown select:focus {
  outline: none;
}

.dropdown::after {
  content: '\25BC'; /* 화살표 모양 */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/*================================*/

  .table-container{
    width: 80%;
    float: left;
=======
  .table-container{
    width: 80%;
>>>>>>> origin/yonggi
  }

.rwd-table {
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
    max-height: 600px;
    overflow-y: auto; 
    width: 100%;
}

.container::-webkit-scrollbar {
    width: 5px;
}
.container::-webkit-scrollbar-thumb {
    background-color: rgb(195, 200, 207);
    border-radius: 0.2rem;
}
.container::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}


.rwd-table tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;

}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
  
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}
